<header class="sticky-header">
    <div class="header-menu">
        <a href="/"><img src="/images/logo.png" alt="image" class="header-logo" align="center"></a>
        <p><a href="/news" class="header-content">Новости</a></p>
        <p><a href="/about" class="header-content">О компании</a></p>
        <p><a href="/faq" class="header-content">FAQ</a></p>
        <p><a href="/services" class="header-content">Услуги</a></p>
        <p><a href="/registration" class="header-content">Присоединиться</a></p>
        <p><a href="/signup" class="header-content">Войти</a></p>
    </div>
</header>
