<body>
{{>header}}
<div class="reg-content" align="center">
    <form method="post" action="/registration">
        <div>
          <h1 class="form-title" id="greg">Регистрация</h1>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Фамилия" name="userSurname">
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Имя" name="userName">
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Отчество" name="userLastName">
        </div>
        <div class="reg-group">
            <input type="email" class="reg-input" placeholder="E-mail" name="userEmail">
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Телефон" name="userPhone">
        </div>
        <div class="reg-group">
            <input type="password" class="reg-input" placeholder="Пароль" name="userPass">
        </div>
        <div class="reg-group">
            <input type="submit" class="reg-button" value="Регистрация">
        </div>
    </form>
</div>
</body>