<body>
{{>header}}
<div class="reg-content" align="center">
    <div>
        <div>
          <h1 class="form-title">Регистрация</h1>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Фамилия">
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Имя">
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Отчество">
        </div>
        <div class="reg-group">
            <input type="email" class="reg-input" placeholder="E-mail">
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Телефон">
        </div>
        <div class="reg-group">
            <input type="password" class="reg-input" placeholder="Пароль">
        </div>
        <div class="reg-group">
            <input type="submit" class="reg-button" value="Регистрация">
        </div>
    </div>
</div>
</body>