<body>
{{>header}}

<h3 align="center">О Компании</h3>

<div class="about">
    <div class="about-head">
        Компанія успішно працює на ринку інформаційних технологій з 2000 року. Ми надаємо інформаційно - обчислювальні послуги, розробляємо і супроводжуємо програмні комплекси для банківських і фінансових установ, а також постачальників комунальних та інших видів послуг не залежно від форми власності.
    </div>

    <div class="about-content">
        <div>
        <p class="news-zag">Переваги для населення і користувачів сайту:</p>
        <ul style="list-style-type: circle">
            <li>оплата комунальних послуг за єдиним рахунком-повідомленням;</li>
            <li>отримання достовірної інформації про борги, нарахування, пільги та субсидії за будь-який період на сайті, в касі банку або по телефону в нашій службі підтримки;</li>
            <li>отримання рахунку-повідомлення на електронну пошту;</li>
        </ul>
        </div>
        <div>
            <img src="/images/macbook1.png" alt="">
        </div>
        <div>
            <p class="news-zag">Переваги для наших партнерів (банки, постачальники послуг):</p>
            <ul>
                <li>сучасні програмні комплекси з розрахунку нарахувань за спожиті комунальні послуги;</li>
                <li>збільшення швидкості проходження оплат на рахунки постачальників послуг;</li>
                <li>гнучка і зручна система отримання інформації прийнятих платежів населення, адаптована під вимоги кожного постачальника;</li>
            </ul>
        </div>
        <div>
            <p class="news-zag">Основними напрямками діяльності компанії є:</p>
            <ul>
                <li>формування рахунків-повідомлень;</li>
                <li>прийом платежів;</li>
                <li>створення єдиного інформаційного простору в різних галузях міського господарства.</li>
                <li>розробка і впровадження на базі сучасних технологій інформаційних систем, що охоплюють всі етапи обліку комунальних послуг від ведення обліку муніципального житла до розрахунку нарахувань за надані послуги;</li>
            </ul>
        </div>
    </div>
</div>

</body>