<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{>header}}
    <div class="side_accruals">
        <select id="sel" name="sel">
            <option value="0" selected disabled>Оберіть послугу...</option>
            <option value="1">Електроенергія</option>
            <option value="5">Опалення</option>
            <option value="4">Водорозподіл</option>
            <option value="2">Газ</option>
            <option value="3">Поставка газу</option>
            <option value="7">Вивіз сміття</option>
            <option value="8">Домофон</option>
            <option value="9">Послуга з управління домом</option>
        </select>
        <div id="data_container">З:&nbsp;<input type="date" id="after"></div>
        <div id="data_container">До:&nbsp;<input type="date" id="before"></div>
        <button value="Вивести історію" id="accruals">Вивести історію нарахувань</button>
    </div>
    <div>
        <h1 align="center" id="head"></h1>
    </div>
    <div id="tab" align="center" style="margin: 30px">

    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<script>
    const selectElement = document.querySelector('[id="accruals"]');

    selectElement.addEventListener('click', (event) => {
        const after = document.querySelector('[id="after"]');
        const before = document.querySelector('[id="before"]');
        const head = document.querySelector('[id="head"]');
        const select = document.querySelector('[id="sel"]');
        const value = select.value;
        const desc = select.selectedOptions[0].text;
        head.textContent = desc;

        let url = '/ajax?value=' + value + '&after=' + after.value + '&before=' + before.value;
        fetch(url)
        .then(res => {
            return res.json();
        })
        .then(data => {
            const tab = document.querySelector('[id="tab"]');
            let str = "";
            str = `<table border="1" cellspacing="0" class="accruals_table">
            <tr align="center" valign="center">
                <td class="td_padding">Дата внесення показань</td>
                <td class="td_padding">Показання</td>
                <td class="td_padding">Сума до сплати</td>
                <td class="td_padding">Сплачено</td>
            </tr>`;
            for(key in data){
                str += `<tr align="center" valign="center">
                                           <td class="td_padding">${data[key].data}</td>
                                           <td class="td_padding">${data[key].counter_value}</td>
                                           <td class="td_padding">${data[key].amount_to_pay}</td>`
                if(data[key].paid === 'true'){
                    str += `<td class="td_padding">Сплачено</td>`
                }
                else{
                    str += `<td class="td_padding">Не сплачено</td>`

                }
                str+= `</tr>`

            }
            str += "</table>"
            tab.innerHTML = str;
        })
        .catch(err => {
            console.log(err);
        })
    });
</script>
<script>
    const data_after = document.querySelector('[id="after"]');
    const data_before = document.querySelector('[id="before"]');

    let data = new Date();
    let yyyy = String(data.getFullYear());
    let mm = String(data.getMonth()+1);
    let dd = String(data.getDate());
    if(data.getMonth()+1<10)
        mm = '0' + mm;
    if(data.getDate()<10)
        dd = '0' + dd;
    data_after.setAttribute('max', `${yyyy}-${mm}-${dd}`);
    data_before.setAttribute('max', `${yyyy}-${mm}-${dd}`);


</script>
</body>