<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{>header}}

    <h1 align="center" id="head"></h1>
    <hr>
    <select id="sel" name="sel">
        <option value="0" selected disabled>Оберіть послугу...</option>
        <option value="1">Електроенергія</option>
        <option value="5">Опалення</option>
        <option value="4">Водорозподіл</option>
        <!--<option value="0">Ліфт</option>-->
        <option value="2">Газ</option>
        <option value="3">Поставка газу</option>
        <option value="7">Вивіз сміття</option>
        <option value="8">Домофон</option>
        <option value="9">Послуга з управлін...</option>

    </select>



<script>
    const selectElement = document.querySelector('[id="sel"]');

    selectElement.addEventListener('change', (event) => {
        const select = event.target;
        const value = select.value;
        const desc = select.selectedOptions[0].text;

        const head = document.querySelector('[id="head"]');
        head.textContent = desc;

        let url = '/ajax?value=' + value;
        fetch(url)
        .then(res => {
            return res.json();
        })
        .then(data => {
            const table = document.querySelector('[id="tab"]');
            let str = "";
            str = `<table border="1" cellspacing="0" class="accruals_table">
            <tr align="center" valign="center">
                <td>Дата внесения показаний</td>
                <td>Показания</td>
                <td>Сумма к оплате</td>
            </tr>`;
            for(key in data){
                str += `<tr align="center" valign="center">
                                           <td>${data[key].data}</td>
                                           <td>${data[key].counter_value}</td>
                                           <td>${data[key].amount_to_pay}</td>
                                      </tr>`;

            }
            str += "</table>"
            tab.innerHTML = str;
        })
        .catch(err => {
            console.log(err);
        })
    });
</script>

<div id="tab">

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>