<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{{>header}}

{{#if accruals}}
    <h1 align="center" id="head"></h1>
    <hr>
    <br>
    <select id="sel" name="sel">
        <option value="">Електроенергія</option>
        <option value="2">Опалення</option>
        <option value="3">Водопостачання</option>
        <option value="4">Злив води</option>
        <option value="5">Ліфт</option>
        <option value="6">Газ</option>
        <option value="7">Поставка газу</option>
        <option value="8">Вивіз сміття</option>
    </select>

    <div style="width: 80%;" align="center">
        <table border="1" cellspacing="0">
            <tr align="center" valign="center">
                <td>Дата внесения показаний</td>
                <td>Показания</td>
                <td>Сумма к оплате</td>
            </tr>

        {{#each accruals}}
            <tr align="center" valign="center">
                <td>{{data}}</td>
                <td>{{counter_value}}</td>
                <td>{{amount_to_pay}}</td>
            </tr>
        {{/each}}

        </table>
    </div>
{{/if}}


<script>
    const selectElement = document.querySelector('[id="sel"]');

    selectElement.addEventListener('change', (event) => {
        const select = event.target;
        const value = select.value;
        const desc = select.selectedOptions[0].text;

        const head = document.querySelector('[id="head"]');
        head.textContent = desc;

        fetch('/ajax')
        .then(res => {
            console.log('ajaaaaaaaaaaaaaaaaax!');
            return res.json();
        })
        .then(data => {
            console.log('3');
            console.log(data);
        })
        .catch(err => {
            console.log(err);
        })
    });
</script>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>