<body>
{{>header}}

<h1 align="center" style="font-family: 'Verdana', serif !important;color: black !important; font-weight: bold;">Часті питання</h1>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne" align="center">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Що це за сайт?
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Призначення цього проекту - спрощення процес оплати комунальних послуг. За допомогою нього ви зможете вносити показання лічильників, стежити за динамікою нарахувань і оплачувати комунальні послуги.

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo" align="center">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Як внести показання?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Для того аби внести показання лічильників Вам потрібно перейти в розділ внести показання. Для того аби це зробити Ви маєте бути авторизованим на сайті. В цьому розділі ви можете внести як покази одного лічильника, так і всіх одразу. Також Ви можете вказати дату за яку біли зняті показання.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree" align="center">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Як отримати статистику нарахувань?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
               Статистика нарахувань відображується в розділі "Історія нарахувань". Ви маєте вибрати послугу про яку хочете отримати статистику. Також Ви можете вибрати період за який буде відображатися статистика.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo" align="center">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Як сплатити послуги?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Для того аби сплатити послуги Ви маєте перейти в розділ сплаити послуги. В ньому виберіть яку послугу Ви хочете сплатити, чи обрати всі послуги та сплатити всі несплачені послуги.
            </div>
        </div>
    </div>
</div>

</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

