<body>

{{>header}}
<div align="center">
    <div class="news-content">
        <div class="news-block">
            <img src="/images/news-1.jpg" class="news-photo">
            <h3 class=""><a href="https://www.epravda.com.ua/rus/news/2021/03/4/671617/" class="news-head">Шмыгаль рассказал, каким будет тариф на электроэнергию для населения с 1 апреля</a></h3>
            <div class="news-text" align="left">
                <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Премьер Денис Шмыгаль заявил, что тариф на электроэнергию для населения в апреле, скорее всего, останется 1,68 грн за кВт-час.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Об этом он сказал на пресс-конференции по году работы правительства.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Этот вопрос сейчас обсуждается в Министерстве энергетики. Скорее всего, тариф для населения останется 1,68 грн за кВт-ч", - сказал он, отвечая на вопрос, какой будет цена на электроэнергию для населения после 1 апреля.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;По его словам, если будут дисбалансы, платить больше должны богатые, те, кто имеет возможность, а те, у кого нет возможности, должны получать помощь от государства.
                </p>
            </div>
        </div>
        <div class="news-block">
            <img src="/images/news-2.jpg" class="news-photo">
            <h3 class=""><a href="https://www.epravda.com.ua/news/2021/02/26/671448/" class="news-head">Річний тариф на газ для населення запрацює з 1 квітня - джерело</a></h3>
            <div class="news-text" align="left">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Фіксована річна ціна на газ для населення від газопостачальних компаній почне працювати з 1 квітня, коли втратить силу встановлена державою "стеля" у 6,99 грн за кубометр.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Дата запуску річного тарифу зумовлена закінченням дії фіксованої урядом ціни у 6,99 грн за кубометр.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Таким чином, оператори встановлюватимуть фіксовану ціну на рік, якою зможуть користуватися споживачі. Співрозмовник пояснив, що з річного тарифу можна буде у будь-який момент перейти на місячний, а потім знову на річний. В залежності від коливань ринку в різні періоди, користувачі можуть обирати економніший для себе варіант.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
