<body>

{{>header}}
<div align="center">
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
    <div>Some content...<br>Coming soon...<br><br></div>
</div>

</body>