<body>
{{>header}}

<h1 align="center">Оберіть послугу</h1>
<div class="pay-select-row">
    <a href="/pay/gas">
        <div class="pay-select-element">
            <div class="pay-center">
                <img src="/images/icon_gas.jpg" class="pay_icon">
            </div>
            <div class="pay-center">Газ</div>
        </div>
    </a>
    <a href="/pay/svet">
        <div class="pay-select-element">
            <div class="pay-center">
                <img src="/images/icon_svet.jpg" class="pay_icon">
            </div>
            <div class="pay-center">Електроенергія</div>
        </div>
    </a>
    <a href="/pay/voda">
        <div class="pay-select-element">
            <div class="pay-center">
                <img src="/images/icon_voda.jpg" class="pay_icon">
            </div>
            <div class="pay-center">Водорозподіл</div>
        </div>
    </a>
    <a href="/pay/otoplenie">
        <div class="pay-select-element">
            <div class="pay-center">
                <img src="/images/icon_otoplenie.jpg" class="pay_icon">
            </div>
            <div class="pay-center">Опалення</div>
        </div>
    </a>
</div>

<div class="pay-select-row">
    <a href="/pay/musor">
        <div class="pay-select-element">
            <div class="pay-center">
                <img src="/images/icon_mysor.jpg" class="pay_icon">
            </div>
            <div class="pay-center">Вивіз сміття</div>
        </div>
    </a>
    <a href="/pay/domofon">
        <div class="pay-select-element">
            <div class="pay-center">
                <img src="/images/icon_domofon.jpg" class="pay_icon">
            </div>
            <div class="pay-center">Домофон</div>
        </div>
    </a>
    <a href="/pay/sdpt">
        <div class="pay-select-element">
            <div class="pay-center">
                <img src="/images/icon_sdpt.jpg" class="pay_icon">
            </div>
            <div class="pay-center">СДПТ</div>
        </div>
    </a>
    <a href="/pay/all">
        <div class="pay-select-element">
            <div class="pay-center">
                <img src="/images/icon_all.jpg" class="pay_icon">
            </div>
            <div class="pay-center">Оплатити все</div>
        </div>
    </a>
</div>

</body>