<body>
{{>header}}

<h1 align="center">Вивіз сміття</h1>
<hr>
<div>
    <table border="1" cellspacing="0">
        <tr align="center" valign="center">
            <td>Дата</td>
            <td>Покази лічильника</td>
            <td>До сплати</td>
        </tr>
        {{#each accruals}}
            <tr align="center" valign="center">
                <td>{{data}}</td>
                <td>{{counter_value}}</td>
                <td>{{amount_to_pay}}</td>
            </tr>
        {{/each}}
        <tr>
            <td>Всьго:</td>
            <td></td>
            <td align="center">{{total}}</td>
        </tr>

    </table>
    <form method="post" action="/pay/musor">
        <input type="submit" class="reg-button" value="Сплатити" id="spec">
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>