<body>
{{>header}}

<div class="person_head">
    <div >
        <p style="text-decoration: underline">Личный кабинет</p>
        <br>
        {{fullName}}
    </div>
    <div >
        <ul>
            <li><a href="#">Мои объекты</a></li>
            <li><a href="#">Мои платежи</a></li>
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </div>
</div>

<p align="center" style="margin-bottom: 25px">Мои объекты:</p>
<div class="person_objects_row">
    <div class="person_object">
        <div class="obj_top" align="center">
            {{street}}<br>
            д. {{house}}<br>
            кв. {{flat}}<br>
        </div>
        <div align="center">
            Показать историю <a href="#">начислений</a> / <a href="#">оплаты</a>
        </div>
        <div class="smt">
            <span>Cумма к оплате:</span>
            <span>0,00 грн</span>
        </div>
        <div>
            <form>
                <input type="submit" value="Оплатить" class="button">
            </form>
        </div>
    </div>
    <div class="person_object">

    </div>
</div>
<div class="person_objects_row">
    <div class="person_object">

    </div>
    <div class="person_object">

    </div>
</div>

</body>