<body>
{{>header}}
<div class="reg-content" align="center">
    <form method="post" action="/registration">
        <div>
          <h1 class="form-title" id="greg">Регистрация</h1>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Фамилия" name="userSurname" required>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Имя" name="userName" required>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Отчество" name="userLastName" required>
        </div>
        <div class="reg-group">
            <input type="email" class="reg-input" placeholder="E-mail" name="userEmail" required>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Вулиця" name="userAddress" required>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="№ дому" name="userHome" required>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Квартира" name="userFlat" required>
        </div>
        <div class="reg-group">
            <input type="password" class="reg-input" placeholder="Пароль" name="userPass" required>
        </div>
        <div class="reg-group">
            <input type="submit" class="reg-button" value="Регистрация">
        </div>
    </form>
</div>
</body>