<body>
{{>header}}
<div class="reg-content" align="center">
    <form method="post" action="/signin">
        <div>
            <h1 class="form-title" id="greg">Авторизация</h1>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Логин" name="login" required>
        </div>
        <div class="reg-group">
            <input type="password" class="reg-input" placeholder="Пароль" name="password" required>
        </div>
        <div class="reg-group">
            <input type="submit" class="reg-button" value="Войти">
        </div>
        <br>
        <div>
            <a href="/registration">Зарегистрироваться</a>
        </div>
    </form>
</div>
</body>