<body>
{{>header}}
<div class="reg-content" align="center">
    <form method="post" action="/signin">
        <div>
            <h1 class="form-title" id="greg">Авторизація</h1>
        </div>
        <div class="reg-group">
            <input type="email" class="reg-input" placeholder="Логін" name="login" required id="spec">
        </div>
        <div class="reg-group">
            <input type="password" class="reg-input" placeholder="Пароль" name="password" required pattern="[\w]{6,12}" title="Пароль має містити від 6 до 12 символів, складатися з букв латинського алфавіту та цифр" id="spec">
        </div>
        <div class="reg-group">
            <input type="submit" class="reg-button" value="Увійти" id="spec">
        </div>
        <br>
        <div>
            <a href="/registration">Зареєструватися</a>
        </div>
    </form>
</div>
</body>