<footer class="footer">
    <div class="footer-left">
        <a href="#" class="footer-link">Пользовательское соглашение</a>
        <a href="#" class="footer-link">Политика конфиденциальности</a>
        <a href="/about" class="footer-link">О проекте</a></span>
    </div>
    <div class="social-media-links">
        <a href="#"><img src="/images/facebook.png" alt="facebook"></a>
        <a href="#"><img src="/images/telegram.jpg" alt="telegram"></a>
        <a href="#"><img src="/images/instagram.jpg" alt="instagram"></a>
    </div>
    <div class="contacts">
        <a href="tel:+380674384969" class="footer-link">+38 067 438-49-69</a>
        <a href="mailto:mixaylo2002@gmail.com" class="footer-link">mixaylo2002@gmail.com</a>
    </div>
</footer>