<footer class="footer">
    <div class="footer-left">
        <a href="#" class="footer-link">Угода користувача</a>
        <a href="#" class="footer-link">Політика конфіденційності</a>
        <a href="/about" class="footer-link">Про проект</a></span>
    </div>
    <div class="social-media-links">
        <a href="https://www.facebook.com/profile.php?id=100007214581355"><img src="/images/facebook.png" alt="facebook"></a>
        <a href="https://t.me/Chumachenko_Mi"><img src="/images/telegram.jpg" alt="telegram"></a>
        <a href="https://www.instagram.com/mihail_chu/"><img src="/images/instagram.jpg" alt="instagram"></a>
    </div>
    <div class="contacts">
        <a href="tel:+380674384969" class="footer-link">+38 067 438-49-69</a>
        <a href="mailto:mixaylo2002@gmail.com" class="footer-link">mixaylo2002@gmail.com</a>
    </div>
</footer>