<header class="sticky-header">
    <div class="header-menu">
        <a href="/" class="header-logo"><img src="/images/logo.png" alt="image" class="header-logo" ></a>
        <a href="/faq" class="header-content">FAQ</a>
        <a href="/about" class="header-content">Про компанію</a>

        <a href="/services" class="header-content">Послуги</a>
        <a href="" class="header-content">Тарифи</a>
        <!--TODO: добавить страницу тарифов-->
        {{#if authenticated}}
            <qwe class="header-content">
                <a href="/personal" class="header-content">Про квартиру</a>
                <ul class="header-submenu">
                    <li><a href="/enter">Внести показання</a></li>
                    <li><a href="/accruals">Історія нарахувань</a></li>
                    <li><a href="/pay">Сплатити послуги</a></li>
                    <li><a href="/payhistory">Історія платежів</a></li>
                </ul>
            </qwe>
            <a href="/logout" class="header-content">Вийти</a>
        {{else}}
            <a href="/signin" class="header-content">Увійти</a>
        {{/if}}
    </div>
</header>
