<header class="sticky-header">
    <div class="header-menu">
        <a href="/" class="header-logo"><img src="/images/logo.png" alt="image" class="header-logo" ></a>
        <a href="/news" class="header-content"></a>
        <a href="/about" class="header-content">О компании</a>
        <a href="/faq" class="header-content">FAQ</a>
        <a href="/services" class="header-content">Услуги</a>
        {{#if authenticated}}
        <a href="/logout" class="header-content">Выйти</a>
        {{else}}
        <a href="/signin" class="header-content">Войти</a>
        {{/if}}
    </div>
</header>
